html {
    overflow-y: scroll;
}

#container{
    width: 50%;
    margin: auto;
    padding-top: 8%;
    padding-bottom: 8%;
    
}

#header{
    text-align: center;

}

#search{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin:auto;
}

#results{
    width: 70%;
    margin: auto;
}

.resultElement{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .6em;
    font-weight: bold;

}

.resultElement p{
    margin-bottom: 0;
}

.resolutionP{
    margin: 1em;
}

.btn:focus {
    outline: none !important;
  }
